.my-table{
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}
.my-table, .my-table th,.my-table tr,.my-table td{
    border:1px solid #eee;
}
.my-table th,.my-table tr,.my-table td{
    padding: 1rem 0.5rem;
}