/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.my-2{
    margin-top: 2rem;
}
.mx-2{
    margin-left: 2rem;
    margin-right: 2rem;
}
.my-crad > p{
    line-height: 1.5;
}